
.text-print{
     color:   #d32f2f !important;
     font-weight: 900;
}
.btn-jose{
    /* background-color: #d32f2f; */
    background-color:teal;
    color: white;
}
.btn-jose:hover{
    /* background-color: #b52929; */
    background-color: #005159;
}
#main  img{
    height: 90vh; 
}
.img-circle{
    filter:grayscale(100%);
}

#main .carousel-inner img{
    object-fit: cover;
    filter:grayscale(50%);
}

#carousel{
    position: relative;
}
#carousel .overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0,0.5);
    color: white;
}
#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

.card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    
}

#place-text img{
    max-width: 100%;
    height: 500px;
}
#place-text{
    background-color: #343a40;
    color: white;
}
#footer{
    background: -webkit-linear-gradient(0deg,#005159,#0299a7 60%,#00cee0);
}
#footer a{
    color:white;
}